<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo"> 
  <p>
    <a class="f3 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/about/" >Sobre o projeto</a>
  </p>
  <p>
    <a class="f3 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/contacto/" >Contacto</a>
  </p>

  <div class="flex justify-between">
    <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a>


    <div>{{ partial "social-follow.html" . }}</div>
  </div>
  <p>
    <a class="f3 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3"  ></a>
  </p>
  <p>
    <a class="f3 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3"  ></a>
  </p>

</footer>
